<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
				<!--
                <add value="index.php" />
				-->
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <alwaysAllowedUrls>
                    <add url="/nacer-prueba/json.php" />
                </alwaysAllowedUrls>
            </requestFiltering>
        </security>
        <validation validateIntegratedModeConfiguration="false" />
<!--         <handlers accessPolicy="Read, Script"> 
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe|-d open_basedir=C:\Websites\Website1" resourceType="Unspecified" requireAccess="Script" />
        </handlers> -->
    </system.webServer>
    <system.web>
        <authentication mode="Forms" />
        <identity impersonate="true" />
    </system.web>
</configuration>